<!-- <div style="margin-top: 20px;">
    <h3>Edit Data</h3>
    <form action="/users" method="put" >
       
        <div>

            <label for="fullname" >FullName</label>
            <input style="margin-left: 20px;" type="text" name="fullname" placeholder="enter your name" />
        </div>
        <div>

            <label for="email" >email</label>
            <input style="margin-left: 20px;"  type="email" name="email" placeholder="enter your email" />
        </div>
        <div>

            <label for="password" >password</label>
            <input style="margin-left: 20px;"  type="password" name="password" placeholder="enter your password" />
        </div>
       

        <div>
            <input type="submit" />
        </div>
        

    </form>
</div> -->




<div style="margin-top: 20px;">
    <h3>Edit Data</h3>
    <form action="edit" method="post">
       
        <div>
            <label for="id">id</label>
            <input style="margin-left: 20px;" type="text" name="id" placeholder="enter your id" />
        </div>
        <div>
            <label for="fullname">FullName</label>
            <input style="margin-left: 20px;" type="text" name="fullname" placeholder="enter your name" />
        </div>
        <div>
            <label for="email">email</label>
            <input style="margin-left: 20px;"  type="email" name="email" placeholder="enter your email" />
        </div>
        <div>
            <label for="password">password</label>
            <input style="margin-left: 20px;"  type="password" name="password" placeholder="enter your password" />
        </div>
       
        <div>
            <input type="submit" />
        </div>
    </form>
</div>
