<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatree</title>
</head>
<body>

    <div class="container" style="margin: 20px;" >
        <h1>Add data</h1>
        <form action="/" method="post" >
            <div>

                <label for="fullname" >FullName</label>
                <input style="margin-left: 20px;" type="text" name="fullname" placeholder="enter your name" />
            </div>
            <div>

                <label for="email" >email</label>
                <input style="margin-left: 20px;"  type="email" name="email" placeholder="enter your email" />
            </div>
            <div>

                <label for="password" >password</label>
                <input style="margin-left: 20px;"  type="password"  name="password" placeholder="enter your password" />
            </div>

            <div>
                <input type="submit" />
            </div>
            

        </form>
    </div>
    <div>
        <a href="/users">Get all users</a>
    </div>
   


    
</body>
</html>